RRULE with UNTIL not working since version 3.9.2?

I was updating an old requirements.txt file, still using icalendar==3.9.0. I decided to update to the last version. However an unit test broke. After some bisect, it seems the regression is appearing at 3.9.2. The following event is not parsed the same way than before:

```
BEGIN:VEVENT
UID:example-2
SUMMARY:Daily rehearsal
DESCRIPTION:Everday of the first week
DTSTART;TZID=Europe/Berlin:20150101T100000
DTEND;TZID=Europe/Berlin:20150101T120000
RRULE:FREQ=DAILY;UNTIL=20150107T10000Z
SEQUENCE:0
END:VEVENT
```

Here's two executions of my tests, where example-1 is a similar event with `RRULE:FREQ=WEEKLY;BYDAY=MO` as rrule. The test simply walk through vevents in a calendar file and prints `event.get('RRULE')`

```
$ pip install icalendar==3.9.2                       ####### First try, broken version
[...]
Successfully installed icalendar-3.9.2
$ python manage.py test [...]

example-1
vRecur({'FREQ': ['WEEKLY'], 'BYDAY': ['MO']})
-----------
example-2
None

$ pip install icalendar==3.9.1                       ####### Second try
[...]
Successfully installed icalendar-3.9.1
$ python manage.py test [...]

example-1
vRecur({'FREQ': ['WEEKLY'], 'BYDAY': ['MO']})
-----------
example-2
vRecur({'FREQ': ['DAILY'], 'UNTIL': [datetime.date(2015, 1, 7)]})
```

The problem is still present with icalendar=4.0.4. The RRULE is valid according to RFC5545.

This might be related to issue dateutil/dateutil#1006 . I think there is a problem in the rrule parser of dateutil. Not sure how to work around this...

On further investigation I now think that the problem is in icalendar, specifically in cal.py:520 (Timezone._extract_offsets).

There is some trickery going on, conditionally removing the timezone info from the UNTIL-Parameter, presumably because this causes a misbehaviour with the offset-naive DTSTART when used with dateutil.rrule.

However, DTSTART is not as offset-naive as it looks: It is to be interpreted with regard to TZOFFSETFROM (see RFC5545, section 4.6.5):

> The mandatory "TZOFFSETFROM" property gives the UTC offset which is in
> use when the onset of this time zone observance begins. "TZOFFSETFROM" 
> is combined with "DTSTART" to define the effective onset for the time zone
> sub-component definition.

So to make rrule work properly the IMHO actually necessary step is to provide a tzinfo for the dtstart that represents the TZOFFSETFROM. I've done that with the attached patch:

[fix-tzoffsetfrom.txt](https://github.com/collective/icalendar/files/4189357/fix-tzoffsetfrom.txt)


I'm sorry but I missed that this is not about timezone definitions. I've deleted my misleading comments. My problem is tracked in issue 303.

Thanks for reporting back!
