DATE-TIME property formatting

I'm not clear on why `vDatetime` properties (such as `DTSTART`) use the `VALUE=DATE-TIME:` syntax:

```
DTSTART;TZID=Europe/Vienna;VALUE=DATE-TIME:20101010T100000
```

[RFC 5545 Section 3.3.5](http://tools.ietf.org/html/rfc5545#section-3.3.5) describes a simpler (and more commonly used?) Date-Time format:

```
   DTSTART:19970714T133000                   ; Local time
   DTSTART:19970714T173000Z                  ; UTC time
   DTSTART;TZID=America/New_York:19970714T133000
                                             ; Local time and time
                                             ; zone reference
```

Mac OS X's Calendar.app doesn't appear to like the former but will accept the latter.


I use this workaround
``` python
from icalendar import vDDDTypes
from datetime import datetime
def add_datetime(component, name: str, time: datetime):
    vdatetime: vDDDTypes = vDDDTypes(time)
    if 'VALUE' in vdatetime.params and 'TZID' in vdatetime.params:
        vdatetime.params.pop('VALUE')
    component.add(name, vdatetime)

...
from icalendar import Event
from datetime import timedelta, timezone
tz = datetime(2021,1,1,tzinfo=tz)
event = Event()
add_datetime(event, 'DTEND', datetime(2021,1,2,3,4,5,tzinfo=timezone(timedelta(hours=8), "Asia/Shanghai")))
print(event.to_ical().decode())
```

```
BEGIN:VEVENT
DTEND;TZID=Asia/Shanghai:20210102T030405
END:VEVENT
```