TZID=UTC even when time is UTC

According to [RFC5545 section 3.2.19](https://www.rfc-editor.org/rfc/rfc5545#section-3.2.19)

The TZID parameter should not be specified when the time is already in UTC.

However, when presenting the following time:
`start_date = datetime(year=2021, month=5, day=20, hour=13, minute=30, tzinfo=ZoneInfo("UTC"))
`

The resulting string of `icalendar.Event.to_ical()` is:
`DTSTART;TZID=UTC;VALUE=DATE-TIME:20210520T133000Z
`

the TZID=UTC string is present.
I think this should not be the case.


Seems to be a versioning problem. A workaround is to clone the repository directly, because when I do that, running this:
```python
from icalendar import Event
from datetime import datetime
from zoneinfo import ZoneInfo

dt = datetime(year=2021, month=5, day=20, hour=13, minute=30, tzinfo=ZoneInfo("UTC"))
event = Event()
event.add('dtstart', dt)
print(event.to_ical())
```

results in `b'BEGIN:VEVENT\r\nDTSTART;VALUE=DATE-TIME:20210520T133000Z\r\nEND:VEVENT\r\n'`, which is correct. 

However, when I download icalendar via pip, the same snippet outputs: `b'BEGIN:VEVENT\r\nDTSTART;TZID=UTC;VALUE=DATE-TIME:20210520T133000Z\r\nEND:VEVENT\r\n'`, which is incorrect. 

I'm not sure who  has access to pypi, @mauritsvanrees I think?

Related: #58 

Seems solved on the master branch indeed.

@niccokunzmann and @geier can make releases on PyPI as well. They are the most active now, and in a better state to judge whether this is ready for a release.

I think, it would be alright to generate a new release. The changelog is quite long already and I do not see any blocker except for the ones from 10 years ago.

@Harold-D did you also install the pre-release? https://pypi.org/project/icalendar/#history

No, I have not tried the pre-release.

I'm using the master branch at the moment.
Just copied the files from master to the relevant directory in .venv

I closed this for now as there are comments that it worked on the master branch and the master branch has been deployed as v5.0.0. Feel free to re-open the issue.

Thanks a lot @niccokunzmann

I can confirm confirm version 5.0.0 has resolved the issue.