Amend categories docstring for available and availability to include them

See:

- https://icalendar.readthedocs.io/en/latest/reference/api/icalendar.cal.available.html#icalendar.cal.available.Available.categories
- https://icalendar.readthedocs.io/en/latest/reference/api/icalendar.cal.availability.html#icalendar.cal.availability.Availability.categories

The docstring says:


> This property can be used in icalendar through its Python attributes of:
>
> -   [Calendar.categories](https://icalendar.readthedocs.io/en/latest/reference/api/icalendar.cal.calendar.html#icalendar.cal.calendar.Calendar.categories)
> -    [Event.categories](https://icalendar.readthedocs.io/en/latest/reference/api/icalendar.cal.event.html#icalendar.cal.event.Event.categories)
> -    [Journal.categories](https://icalendar.readthedocs.io/en/latest/reference/api/icalendar.cal.journal.html#icalendar.cal.journal.Journal.categories)
> -    [Todo.categories](https://icalendar.readthedocs.io/en/latest/reference/api/icalendar.cal.todo.html#icalendar.cal.todo.Todo.categories)
>
> The categories property for Event, Journal, and Todo complies with [RFC 5545 Section 3.8.1.2](https://datatracker.ietf.org/doc/html/rfc5545.html#section-3.8.1.2), and for Calendar with [RFC 7986 Section 5.6](https://datatracker.ietf.org/doc/html/rfc7986.html#section-5.6).

This is incomplete, and needs to be amended.

- [ ] Add both `Available.categories` and `Availability.categories` to the list.
- [ ] Add a reference to [RFC 7953, Section 3.1](https://datatracker.ietf.org/doc/html/rfc7953.html#section-3.1).
- [ ] Check off both in https://github.com/collective/icalendar/issues/1244.

Note that this is defined in https://github.com/collective/icalendar/blob/926bc0284eb5023c455d48ac70e7fd9a1b9c3f4b/src/icalendar/attr.py#L672-L678.

I’m taking this focused categories_property documentation update. I’ll add the Available and Availability attributes and the RFC 7953 section reference, then run the project’s documentation or syntax checks that are available locally. I’ll leave the broader docstring checklist in #1244 untouched.