[Bug] Description wrapping can create an invalid event

<!-- This template is here to guide you and help us. If you can't complete everything here, that is fine. -->

## Describe the bug

When a field is wrapped, it doesn't treat an escaped line break within the text as a single character. When you import a calendar with that event into Google Calendar, the event will not show (some calendars can handle this, e.g. Thunderbird).

## To reproduce

Make a description longer than 75 characters, make the 75th character a \ and the 76th character an n, and try to import a calendar with that event into Google Calendar, and it will not show.

This code will make an event that fails:
```python
    event = Event()
    title = 'Test event'
    event.add('uid', '123456789')
    event.add('dtstamp', datetime.now())
    event.add('summary', 'Test event')
    event['location'] = vText('Place')
    description = 'This is a description that will be wrapped, and it also has a\nnew line in it right where it wraps. It doesn't display in Google'
    event.add('description', description)
    event.add('dtstart', event_start)
    event.add('dtend', event_end)
    cal.add_component(event)
```

Output:

<!-- Add logs, stack traces, or error outputs to help explain the issue. -->
The resulting description is:
```pycon
DESCRIPTION:This is a description that will be wrapped, and it also has a\
 nnew line in it right where it wraps.
```
In my case, the description was a url, followed by a line break, then followed by some text.

## Expected behavior

<!-- A clear and concise description of what you expected to happen. -->
It should see that the text has \n where it is going to wrap and if so wrap one character earlier, e.g. 
```pycon
DESCRIPTION:This is a description that will be wrapped, and it also has a
 \nnew line in it right where it wraps.
```
## Environment

<!-- Complete the following information. -->

 - [ ] Operating system:  Windows 11
 - [ ] Python version:  Python 3.14
 - [ ] `icalendar` version:   icalendar 7.1.1

## Additional context

<!-- Add any other context about the issue here, including related issues and pull requests. -->
Put this event in an ics file, and try to import it into Google Maps, and it never displays
```text
BEGIN:VEVENT
SUMMARY:Test event
DTSTART;VALUE=DATE:20260718
DTEND;VALUE=DATE:20260720
DTSTAMP:20260614T144333Z
UID:123TESTEVENT456
DESCRIPTION:This is a description that will be wrapped, and it also has a\
 nnew line in it right where it wraps.
LOCATION:Denmark
END:VEVENT
```

(sorry I just saved the description that failed, not the full event, and then made a mock event, since I don't know if I can share the actual event)

Thanks for reporting this! It is a valid bug.

Tests should make sure that various escapes of text do not occur at line folds.
That refers to all vProperties that do escapes.
And also to vUnknown.

So best might be that we modify where line folding occurs and make sure that escape characters like \ and ^ do not occur just before the line break.

To close the issue also, best to reference the relevant RFCs to check all possible formats of character escaping.

Thanks for the bug report! I confirmed it's a valid bug. Here's my Python console based on your example, but with imports and some tweaks for ease of reproducibility.

```python
from icalendar import Calendar, Event, vText
import datetime as dt
import zoneinfo
cal = Calendar()
event_start = dt.datetime(2026, 3, 21, 6, 30, 0, tzinfo=zoneinfo.ZoneInfo("UTC"))
event_end = dt.datetime(2026, 3, 21, 7, 30, 0, tzinfo=zoneinfo.ZoneInfo("UTC"))
event = Event()
title = 'Test event'
event.add('uid', '123456789')
event.add('dtstamp', datetime.now())
event.add('summary', 'Test event')
event['location'] = vText('Place')
description = "This is a description that will be wrapped. And it also has a\nnew line in it right where it wraps. It doesn't display in Google."
event.add('description', description)
event.add('dtstart', event_start)
event.add('dtend', event_end)
cal.add_component(event)
print(cal.to_ical().decode())
```

```text
BEGIN:VCALENDAR
BEGIN:VEVENT
SUMMARY:Test event
DTSTART:20260321T063000Z
DTEND:20260321T073000Z
DTSTAMP:20260623T151638Z
UID:123456789
DESCRIPTION:This is a description that will be wrapped. And it also has a\
 nnew line in it right where it wraps. It doesn't display in Google.
LOCATION:Place
END:VEVENT
END:VCALENDAR
```

Would you like to create a pull request to fix it? We're here to guide and support contributors.

> (sorry I just saved the description that failed, not the full event, and then made a mock event, since I don't know if I can share the actual event)

FYI, we have a free related service that you can use to anonymize iCalendar files to share in bug reports. You can also install it and run it locally as either a command-line or web application.

- https://icalendar-anonymizer.com/
- https://docs.icalendar-anonymizer.com/latest/installation.html

I don't think we mention icalendar-anonymizer in our icalendar docs. I'll make a new issue from this comment. I think it belongs in Contribute, as a new section "Issue requirements", between the secondary headings [Artificial intelligence policy](https://icalendar.readthedocs.io/en/stable/contribute/index.html#artificial-intelligence-policy) and [Pull request requirements](https://icalendar.readthedocs.io/en/stable/contribute/index.html#pull-request-requirements). We should also add a links to both the its docs and web app in [Links](https://icalendar.readthedocs.io/en/stable/contribute/maintenance.html#links). @iamlgh as a new contributor to icalendar, what do you think would help?

@SashankBhamidi as maintainer of icalendar-anonymizer, what do you think?

> To close the issue also, best to reference the relevant RFCs to check all possible formats of character escaping.

Relevant RCF section would be  [RFC 5545 section 3.1](https://datatracker.ietf.org/doc/html/rfc5545#section-3.1) or was that obsoleted by a newer one?

The RFC mentions that deconding should even work, if a multi-octet UTF-8 sequence was chopped apart. Is that a bug in Google Calendar?

Despite that, RFC specifies folding as SHOULD so we are free to prevent splitting of escape sequences.

@stevepiercy if you add info about the icalendar-anonymizer to the docs and a link to the docs in the part about adding an ics file in the text you see when opening a new bug, I think it would be hard to miss.

@stevepiercy, btw, you should change 
```python
event.add('dtstamp', datetime.now())
```
to
```python
event.add('dtstamp', dt.datetime.now())
```
in your code example, since your import is
```python
import datetime as dt
```
:-)

@iamlgh you caught me! Uh... I mean, that was a test to see if you were paying attention. Yeah, that's the ticket... a test! :wink:

> The RFC mentions that decoding should even work, if a multi-octet UTF-8 sequence was chopped apart. Is that a bug in Google Calendar?

We can assume that some implementations cannot handle that. Maybe, this should be a new issue - test that these sequences are not chopped when serializing?
If Google cannot handle escape characters split apart, then, yes, this is a bug on their side. Feel free to report it to them.

This has been released with v7.3.0.