Claiming compatibility to other RFCs/updates of RFC5545

<!-- This is an unstructured issue template to use if you do not need guidance.
Here are some hints though:
- add ICS example files if you can
- show code if possible
- show error output or output that differs from what you expect
- it is nice to connect to the value of this issue
Thanks for taking your time to report this!
 -->

These RFCs are updates to RFC5545. For each of them, it would be nice to check if we can claim that icalendar is compatible.

- [x] RFC 6868
- [x] RFC 7529 https://github.com/collective/icalendar/issues/653
- [x] RFC 7953
- [x] RFC 7986
- [x] RFC 9073
- [x] RFC 9074
- [x] RFC 9253

See also:
- https://www.rfc-editor.org/info/rfc5545

This issue can be closed when
- [x] all of them are checked (possibly with tests)
- [ ] we say in the README if we are compatible or not

What are your thoughts on this?